body{
    background-color: yellow ;
    height:100vh;
    width: 100vw;
}
/* .header-site{
    margin-bottom: 0vh;
    height: 10vh;
    width: auto;
}
.navig2{
    width: 100vh;
    height: auto;
   
    height: auto;
} */

.navig3{
    display: flex;
}
.navig3 > div {
  margin: 4em;
}
.j{
    color:black;
    font-weight: bold;
    text-decoration: none;
}
.k{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.l{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.m{
    color:  black;
    font-weight: bold;
    text-decoration: none;
}
.n{
     color:  black;
    font-weight: bold;
    text-decoration: none;
}
.o{color : black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
section h1{
    text-align: center;
    color: black;
}
section p{
    text-align: center;
    font-size: 30px;
}
.uv{
    text-decoration: none;
}