
body{
    background-color:  #ebdc0c;
    background-repeat: no-repeat;
    width: auto;
    height: 700px;
}

nav{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

nav >div{  
    margin:0 5em;
}

.nav-link{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
.Login{
    width: 40%;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 1% auto 0;
    text-align: left;
    margin-top: 20px;
    border-radius: 30px;
}
input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .muhire{
      width: 50%;
  }
  .picture{
      width: 50%;
      background-image: url(../asset/image/Profile.jpg);
      background-size: contain;
      background-repeat: no-repeat;
  }
  .container{
      display: flex;
  }
