body{
    height: 900px;
    width: 100%;
    display: flex;
    margin: 0px;
    background-color: lightgrey;
     
}
@import url(http://fonts.googleapis.com/css?family=Kameron:400,700);
.wrapper{
    background-color: rgb(238, 215, 13);
    width: 50%;
    height: auto;
    background-size: cover;
    margin: 0px 0px;
}
.land{
    margin-top: 140px;
    margin-left: 20%;
}

.bodyy {
    margin-top: 142px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif; 
    text-align: center;
    margin-left: 20px;
}
.navig{
    background-image: url(../asset/image/Profile.jpg);
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.navig1{
    display: flex;
}
.navig1 > div {
  margin: 2em;
}
.a{
    color:black;
    font-weight: bold;
    text-decoration: none;
}
.b{
    color:black;
    font-weight: bold;
    text-decoration: none;
}
.c{
    color:black;
    font-weight: bold;
    text-decoration: none;
}
.d{
    color:  rgb(238, 215, 13);
    font-weight: bold;
    text-decoration: none;
}
.e{color :rgb(238, 215, 13);
    font-weight: bold;
    text-decoration: none;
}
.wrapper > header{
    margin-left: 5%;
    font-size: 30;
}
.more{
    margin-top: 160px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.land h1{
    text-align: center;
    margin-top: 140px;
    margin-left: 20px;
}

button{
    background-color:chocolate;
    display: inline-block;
    border-radius: 50%;
     font-size: 12px;
     border: 5px solid #080808;
     transition-duration: 0.4s;
     height: auto;
     margin-left: 20px;
}

